<!DOCTYPE html>
<html>
    <head>
        <title><%-titlu%></title>
        <meta charset="utf-8">
        <link rel="stylesheet" href="/css/style.css">
        <%-continutCSSSpecific%>
        <script src="/socket.io/socket.io.js"></script>
        <script src="/js/drawing.js"></script>
        <script src="/js/socketCom.js"></script>
        <script src="/js/gameLogic.js"></script>
        <script src="/js/mainScript.js"></script>
        <script src="/js/ajaxCom.js"></script>
    </head>
    <body>   
       <header>
           <div id="header-container">
                <img src="/images/headerImage.png" alt="Desen">
                <p><%-continutHeader %></p>
                <img src="/images/headerImage2.png" alt="Desen">
            </div>
        </header>

        <main>
            <div id="main-container">
                <%-continutPrincipal %>
            </div>
        </main>

        <footer>
            &copy; Temă de casă - Programare web - Băcică Florin grupa 1309B
        </footer>
    </body>
</html>